doctype html
html
	head
		link(href="styles.css", rel="stylesheet", type="text/css")
		meta(charset="utf-8")
	body
		input(type="button", onclick=" localStorage.clear()", value="Очистить LocalStorage")
		table
			tr
				th Наименование учреждения
				th Адрес
				th Телефон
				th Удалить строку
				th Добавить строку
		script(src='script.js')
