doctype html
html
	head
		link(href="styles.css", rel="stylesheet", type="text/css")
	body
		table
			tr
				th Наименование учреждения
				th Адрес
				th Телефон
				th Удалить строку
				th Добавить строку
		script(src='script.js')
